:root {
    --color: red;
    --font-size: 2em;
}

body {
    --font-size: 3em;
    --different-weight: 400;
}

a {
    color: var(--color);
    font-size: var(--font-size);
}

.foo {
    font-weight: 700;
    font-size: var(--font-size);
}

.bar .foo {
    color: var(--color);
    font-weight: var(--different-weight);
}
