.foo {
    font-size: 3em;
    color: red;
}

.bar {
    font-size: 3em;
}

.fooBar {
    color: orange;
}

a > span {
    color: red;
}

@media (max-width: 70em) {
    .foo {
        font-size: 3em;
        color: pink;
    }

    a > span {
        color: pink;
    }
}
